* {
    box-sizing: border-box;
  }
  
  body {
    font-family:sans-serif;
    margin:0; padding:0;
  }
  
  div {
    padding:10px;
  }
  
  #image img {
    width:100%;
  }

  
  .container {
    position: relative;
    display: inline-block;
  }
  
  .coordinates-container {
    position: absolute;
    top: 0;
    right: 0;
    background-color: rgba(255, 255, 255, 0.8);
    padding: 10px;
  }
  
  .coordinate {
    display: flex;
    align-items: center;
    margin-bottom: 5px;
  }
  
  .part-name {
    color: red;
    margin-right: 5px;
  }
  
  .part-coordinate {
    color: blue;
  }
  